
// client content animate
.client-con{
	// opacity: 1;
	// transition: opacity 1s ease-in-out;
	// -moz-transition: opacity 1s ease-in-out;
	// -webkit-transition: opacity 1s ease-in-out;
	overflow-x: hidden;
	.client-fade{

		 opacity: 1;

		.number{
			@extend .number-syle;
		 }

		.scope{

			h3{
				@extend .h3-style;
			}
		 }



	}
	.slide-right{
		padding-top:30px;
		padding-bottom:30px;
		position: relative;
		right: 0;
		transition: right 1s ease-in-out;
		-moz-transition: right 1s ease-in-out;
		-webkit-transition: right 1s ease-in-out;
		@media (max-width: $screen-sm-min) {
			padding-top:15px;
			padding-bottom:15px;
		}
	}
	&.fade-away{
		// opacity: 0;
		// transition: opacity 1s ease-in-out;
		// -moz-transition: opacity 1s ease-in-out;
		// -webkit-transition: opacity 1s ease-in-out;
		.client-fade{

			//  opacity: 0;
			//  transition: opacity 1s ease-in-out;
		  //  -moz-transition: opacity 1s ease-in-out;
		  //  -webkit-transition: opacity 1s ease-in-out;
			@media (min-width: $screen-sm-min) {
				opacity: 0;
				transition: opacity .25s ease-in-out;
				-moz-transition: opacity .25s ease-in-out;
				-webkit-transition: opacity .25s ease-in-out;
			}


		}
		.slide-right{
			// right: -1500px;
			// transition: right 1s ease-in-out;
			// position: absolute;
			@media (min-width: $screen-sm-min) {
				right: -1500px;
				transition: right 1s ease-in-out;
				position: absolute;
			}
		}
	}
}


.wrapper-6{
	.client-row6{
		@media (max-width: $screen-sm-min) {
			padding : 0 15px 15px;
		}
	}
	a{
		margin-top: 25px;
		float: right;
	}
}

.wrapper-7{
	a{
		margin-top: 25px;
		float: right;
	}
}
