
// client content animate
.client-con{
	// opacity: 1;
	// transition: opacity 1s ease-in-out;
	// -moz-transition: opacity 1s ease-in-out;
	// -webkit-transition: opacity 1s ease-in-out;
	.client-fade{

		 opacity: 1;

		.number{
			@extend .number-syle;
		 }
	
		.scope{

			h3{
				@extend .h3-style;
			}
		 }

		

	}
	.slide-right{
		position: relative;
		right: 0;
		transition: right 1s ease-in-out;
		-moz-transition: right 1s ease-in-out;
		-webkit-transition: right 1s ease-in-out;
	}
	&.fade-away{
		// opacity: 0;
		// transition: opacity 1s ease-in-out;
		// -moz-transition: opacity 1s ease-in-out;
		// -webkit-transition: opacity 1s ease-in-out;
		.client-fade{

			 opacity: 0;
			 transition: opacity 1s ease-in-out;
		   -moz-transition: opacity 1s ease-in-out;
		   -webkit-transition: opacity 1s ease-in-out;

			opacity: 0;
			transition: opacity .25s ease-in-out;
		  -moz-transition: opacity .25s ease-in-out;
		  -webkit-transition: opacity .25s ease-in-out;

		}
		.slide-right{
			right: -1000px;
			transition: right 1s ease-in-out;
		
		}
	}
}


.wrapper-6{
	a{
		margin-top: 25px;
		float: right;
	}
}

.wrapper-7{
	a{
		margin-top: 25px;
		float: right;
	}
}