.contact-wrap{
	text-align: center;
}

.contact-content{
	text-align: center;
	.container{
		.row{
			margin-top: 40px;
			margin-bottom: 25px;

			.contact-col{
				text-align: left;
				position: relative;
   				bottom: 40px;

   				p{
   					font-size: 16px;
   					span{
   						color: #a81a08;
   						font-weight: bold;
   					}
   				}
   				.contact-info{
   					border-bottom: solid 1px #000;
   					margin-top: 20px;
   					h3{
   						font-weight: bold;
   					}

   				}
   				
   				.social{


   					bottom: 20px;
   					position: relative;

   					h3{
   						font-weight: bold;
   					}
   					a{	

   					margin-top: 20px;
   					a{
   						background-color: #a81a08 !important;
   						margin-right: 10px;
   						padding: 5px;
   						i{
   							width: 40px;
						    text-align: center;
						    color: #fff;
   						}
   					}
   				}
			}
			.contact{
				padding: 20px;
				text-align: center;
				background-color: #a81a08;
				color: #fff;

<<<<<<< HEAD
				textarea{
					width: 100%;
					color: #666666; 
				}	
				input{
					color: #666666;
=======
				input, textarea{
>>>>>>> dd6a452cb12e60fc8040b0b9b1292efceec618b5
					width: 100%;
				}
<<<<<<< HEAD

				.answer{
					width: 58px;
					text-align: center;
=======
				#message{
					padding-bottom: 100px;

				}

				p.captcha{
					input{
						width : 50px;
						display: inline;
						text-align: center;
					}
>>>>>>> dd6a452cb12e60fc8040b0b9b1292efceec618b5
				}

				.btn-submit{
					width: 120px;
					color: #fff;
				}
			}
		}
	}
}
