.home-con{
	height: auto;
	.first-con{
		text-align: center;
		// min-height: 40vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		float: none;
		padding-top: 60px;
		padding-bottom: 60px;
	h2{
		font-weight: bold;
		// font-size: 80px;
		color: #BC0E1E;
		margin-top: 0;
	}

	p{
		// font-size: 38px;
	}
}


}

.second-content{
	& > .row{
		display: flex;
		// padding : 0 15%;
		@media (max-width: $screen-sm-min) {
			display: block;
		}
	}
	color: #fff;
	// height: 420px;
	h2{
		font-weight: bold;
		color: #fff;
		margin-top : 0;
		// font-size: 85px;
		@media (max-width: $screen-sm-min) {
			font-size: 22pt;
		}
	}
	p{
		// font-size: 38px;
	}
	button{
		background-color: transparent;
	}
	.first-col{
		background-color: #CA2685;
		// padding-left: 10%;
		// padding-right: 10%;
		// padding-bottom : 20px;
		padding : 60px 10%;
		@media (max-width: $screen-sm-min) {
			padding : 20px 15px;
		}
	}
	.second-col{
		background-color: #00a3dc;
		padding : 60px 10%;
		@media (max-width: $screen-sm-min) {
			padding : 20px 15px;
		}
	}

}

.third-col{
	text-align: center;
	h2{
		font-weight: bold;
	    // font-size: 80px;
	    color: #BC0E1E;
	}
	p{
		// font-size: 38px;
	}


}

#field{
	.input-field{
		margin-top: 20px;
		left: 0px;
		background-color: #BC0E1E;

		#fourth-content{
			margin-top: 40px;
			margin-bottom: 40px;
		input{
		    padding-bottom: 4px;
    		padding-top: 4px;
   			margin-top: 2px;
   			margin-right: 40px;
   			width: 400px;
		}
		.btn{
			// background-color: #BC0E1E;

		}
		#filter{
			// padding-bottom: 100px;
			display: block;
			clear: both;
			padding-top:15px;
			.btn{
				text-transform: none;
				display: inline-block;
			}

			p{
				padding-left: 0px;
				margin-top: 10px;
				color: #fff;
			}
			.tag{
				text-transform: lowercase;
			    width: 110px;
			    right: 35px;
			    margin-right: 20px;
			    margin-top: 10px;
		 	 }

		}
	  }
	}
}

.fifth-content{
	.fifth-row{
		padding-left: 20px;
		padding-top: 36em;
		padding-bottom: 15px;
		// border-bottom: 2px solid #000;

		label{
			// padding-right: 15px;
			font-size: 12pt;
			letter-spacing: 1px;
		}
  }
}


.sixth-content{

	height: auto;

	.sixth-row{
		margin-top: 20px;
		border-bottom: 2px solid $gray;
		&:first-child{
			border-top: 2px solid $gray;
			padding-top: 20px;
		}
	}

	h5{
		margin: 0px;
	}

	a{
		color: $gray;
	}

	.london{

		p{
			padding-top: 31.5px;
		}
	}

	.view-job{
		a{
			float: right;
			margin-top: 9px;
		}
	}
}
