.site-header{
	padding-top: 20px;
	padding-bottom: 20px;
	.custom-logo{
		max-width: 100px;
	}
	.head-bar{
		float: right;
		padding: 8px 13px;
		background: #000;
		color: #fff;
	}
	.fa-bars{
		cursor: pointer;
	}
	.navbar-secondary{
		@media (max-width: $screen-sm-min) {
	    background: #000;
			position: static;
			height: 92vh;
			align-items: baseline;
			padding-top: 30px;
	  }
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background: rgba(0,0,0,0.8);
		display: flex;
		align-items: center;
		justify-content: center;

		.navbar-nav{
			background: transparent;
			text-align: center;
			li{
				display: block;

				float: none;
				a{
					color: #fff;
					text-shadow: 1px 1px 5px #000;
					&:hover{
						color : $brand-primary;
					}
				}
				&.current-menu-item{
		      a{
		        color: $brand-primary;
		      }
		    }
			}
		}
		&.collapse{
			display: none;
		}

		.secondary-close{
			position: fixed;
			top: 30px;
			right: 30px;
			color: #fff;
			font-size: 22pt;
			cursor: pointer;
			@media (max-width: $screen-sm-min) {
				display: none;
			}
		}
	}
}

// featured image
.home-feat-wrap{
	// padding-top : 50px;
	.featured_image{
		max-height : 100vh;
		height : 100vh;
		display: flex;
		background-attachment: fixed;
		img{
			object-fit: cover;
			width: 100%;
		}
		.btn-next{
			position: absolute;
			bottom: 44px;

			width: 100%;
			text-align: center;
			a{
				border-radius: 35px;
		    color: #fff;
		    border: 3px solid #fff;
		    width: 50px;
		    display: block;
		    margin: auto;
		    height: 50px;
		    line-height: 43px;
			}
		}

	}
}

.featured_image{
	max-height : 40vh;
	height : 40vh;
	display: flex;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width: $screen-sm-max) {
		max-height : max-content;
		min-height : 40vh;
		height : auto;
		background-position: right;
	}
	img{
		object-fit: cover;
		width: 100%;
	}

	.feat-info{
		@media (max-width: $screen-sm-max) {
			position: static;
			// padding-top:50px;
			padding : 90px 15px 15px;
		}
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color : #fff;
		padding : 30px 10%;
		text-align: center;
		h1{
			color : #fff;
			margin-top: 0;
			margin-bottom: 40px;
		}
		p{
			font-size: 22pt;
			padding : 0 10%;
			@media (max-width: $screen-sm-max) {
				font-size: 16pt;
				padding : 0 15px;
			}
		}
		& > div{
			display: flex;
			width: 100%;
			height: 50%;
			&.title{
				justify-content: center;
				align-items: flex-end;
				// background-attachment: fixed;
				background-position: bottom;
				background-repeat: no-repeat;
				background-size: contain;
				h1{
					margin: 0;
					@media (max-width: $screen-sm-max) {
						font-size: 28pt;
						padding : 0 15px;
					}
				}
			}
			&.desc{
				justify-content: center;
				align-items: flex-start;
				// padding : 0 15%;
				padding-top: 30px;

			}
		}
	}
}

body{
	overflow-x: hidden;
}

.navbar-toggle {
	.icon-bar{
		@media (max-width: $screen-sm-max) {
			background: #fff;
		}
	}
}
