.home-feat-wrap{
	text-align: center;
}

.home-content{

	.profile-wrapper{
		color: #fff;
		.row{
			.profile-con{
				margin-top: 40px;

				.profile-list{
					list-style: none;
					text-align: left;

					li{
						display: flex;
						i{
							margin: 4px;
						}
					}
				 }
	 		 }
		}
	}
  
	.button-list{
		margin-bottom: 40px;
	}

}


