.irc-con{
	text-align: center;
	
	h2{
		color: #9D1F63;
		font-weight: bold;
	}

	.irc-wrap1{
		 @extend .diagonal-background;
	}



	.irc-wrap2{
		 @extend .diagonal-background-rev;
	}

	.irc-wrap3{
		 @extend .diagonal-background;
	}

	.irc-wrap4{
		 @extend .diagonal-background-rev;
	}

	.irc-wrap5{
		 @extend .diagonal-background;

	}

	.irc-wrap6{
		@extend .diagonal-background-rev;
	}

	.irc-wrap7{
		@extend .diagonal-background;
	}

	.irc-wrap8{
		 @extend .diagonal-background-rev;
	}

	
}
