.services-content{
	text-align: center;


	.service-wrapper{
		text-align: center;
		color: #fff;


		h2{
			color: #fff;
			font-weight: bold;
			margin-top: 50px;
			@media (max-width: $screen-sm-min) {
				margin-top: 0px;
			}
		}

		h3{
			color: #fff;
			font-weight: bold;
			font-size: 20pt;
			padding-left:20px;
			margin-top: 0;
			text-align: left;
		}

		.irc-col{
			// height: 800px;
			padding-bottom : 20px;

			.service-desc{
				p{
					font-size: 14pt;
					font-weight: 200;
				}
			}

			.irc-profile {
				padding: 0 20px;
				li{
					list-style: none;
					text-align: left;
					display: flex;
					.fa{
						padding-right : 10px;
					}
				}

			}

			.service-links{
				margin: auto auto 0 auto;
				a{
					@extend .service-button;

				}

			}
		}




		.info-row{
			h2{
				text-align: left;
				color: #fff;
				padding-left: 50%;
				font-weight: bold;
			}

			p{
				padding: 50px;
				margin-right: 50px;
				text-align: left;
			}
		}
	}


}
.service-flex{
	display: flex;
	flex-wrap: wrap;
	.irc-col{
		display: flex;
		flex-direction: column;
	}
}
.services-child{
	padding : 30px 15px;
	.service-list{
		display: flex;
    flex-wrap: wrap;
		margin-bottom : 0;
		li{
			list-style: none;
			width: 50%;
			display: inline;
			color: #fff;
			text-align: left;
		}
	}
}
