.service-row{

	text-align: center;
	

	.irc-col1{
		background-color: #99cc33;

		.col-md-12{
			
			.irc-profile {
				list-style: none;
				text-align: left;
			}

		}
	}

	.irc-col2{
		background-color: #669933;

		.col-md-12{
			
			.irc-profile {
				list-style: none;
				text-align: left;
			}

		}
	}

	.irc-col3{
		background-color: #009900;

		.col-md-12{
			
			.irc-profile {
				list-style: none;
				text-align: left;
			}

		}
	}

	.irc-col4{
		background-color: #336600;

		.col-md-12{
			
			.irc-profile {
				list-style: none;
				text-align: left;
			}

		}
	}
}