.single-blog{
  .flex-display{
    display: flex;
		flex-wrap: wrap;
  }

  article{
    padding-left: 50px;
    padding-right: 25px;
    @media (max-width: $screen-sm-min) {
      padding-left: 15px;
      padding-right: 15px;
		}
  }
}

.profile-author{
  padding : 40px 20px;
  color : #fff;
  background: #ebb600;
  margin-bottom : 25px;
  h4,h6{
    color : #fff;
    margin-top: 0;
    text-transform: capitalize;
  }
  h4{
    margin-bottom: 0;
  }
  p{
    margin-bottom: 0;
    &.description{
      margin-bottom : 10px;
    }
  }
}

.comment-form-comment{
  textarea{
    max-width: 100%;
    width : 100%;
  }
}
.tbl-container{
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  table{
    max-width: 100%;
  }
}
