.home-feat-wrap{

	.client-row{
		text-align: center;
		color: #fff;
		h1{
		color: #fff;

		}
	}

	.client-con1{
		background-color: #fbeef5;
		

		.client-cont1{
			

			.number{
				@extend .number;
			}

			.scope{
				
				h3{
					@extend .h3-style;
				}
			}
			.side-p1{
			    @extend .side-paragraph;
			    margin-left: 10px;
			}
		}
	}
	.client-con2{
		background-color: #f9e6f1;
		

		.client-cont2{
			

			.number{
				@extend .number;
			}

			.scope{
				
				h3{
					@extend .h3-style;

				}
			}
			.side-p2{
			    @extend .side-paragraph;
			}
		}
	}

	.client-con3{
		background-color: #f7ddec;
		

		.client-cont3{
			

			.number{
				@extend .number;
			}

			.scope{
				
				h3{
					@extend .h3-style;
				}
			}
			.side-p3{
			     @extend .side-paragraph;
				
			}
		}
	}

	.client-con4{
		background-color: #f5d4e6;
		

		.client-cont4{
			

			.number{
				@extend .number;
			}

			.scope{
				
				h3{
					@extend .h3-style;
				}
			}
			.side-p4{
			     @extend .side-paragraph;
			}
		}
	}

	.client-con5{
		background-color: #f3cbe1;

		.client-cont5{

			.number{
				@extend .number;
			}

			.scope{
				
				h3{
					@extend .h3-style;
				}
			}
			.side-p5{
			     @extend .side-paragraph;
				
			}
		}
	}

	.wrapper-6{
		background-color: #d64197 !important;
		.client-con6{
			
			.client-row6{
				a{
					float: right;
					right: 13px;
					margin-top: 25px;
				}
			}
		}
	}

	.wrapper-7{
		background-color: #b3357d;
		.client-con7{
			
			.client-row7{
				a{
					float: right;
					right: 13px;
					margin-top: 25px;
				}
			}
		}
	}
	

}
/*.client-con2{
		background-color: #f9e6f1;
		margin-bottom: 30px;
	}*/