// p{
// 	font-size: 24pt;
// }
.home-feat-wrap{

	.client-row{
		text-align: center;
		color: #fff;
		h1{
		color: #fff;
		font-size: $font-size-h2;


		}
	}

	.client-con1{
		background-color: #fbeef5;


		.client-cont1{


			.number{
				@extend .number-syle;
			}

			.scope{

				h3{
					@extend .h3-style;
					font-size: $font-size-h3;
				}
			}

			.fade-1{
				opacity: 1;
			}

			.side-p1{
			    @extend .side-paragraph;
			    margin-left: 10px;
			}
		}
	}
	.client-con2{
		background-color: #f9e6f1;


		.client-cont2{


			.number{
				@extend .number-syle;
			}

			.scope{

				h3{
					@extend .h3-style;
					font-size: $font-size-h3;
				}
			}

			.fade-2{
				opacity: 1;
			}

			.side-p2{
			    @extend .side-paragraph;
			}
		}
	}

	.client-con3{
		background-color: #f7ddec;


		.client-cont3{


			.number{
				@extend .number-syle;
			}

			.scope{

				h3{
					@extend .h3-style;
					font-size: $font-size-h3;
				}
			}

			.fade-3{
				opacity: 1;
			}

			.side-p3{
			     @extend .side-paragraph;

			}
		}
	}

	.client-con4{
		background-color: #f5d4e6;


		.client-cont4{


			.number{
				@extend .number-syle;
			}

			.scope{

				h3{
					@extend .h3-style;
					font-size: $font-size-h3;
				}
			}

			.fade-4{
				opacity: 1;
			}

			.side-p4{
			     @extend .side-paragraph;
			}
		}
	}

	.client-con5{
		background-color: #f3cbe1;

		.client-cont5{

			.number{
				@extend .number-syle;
			}

			.scope{

				h3{
					@extend .h3-style;
					font-size: $font-size-h3;
				}

			}

			.fade-5{
				opacity: 1;


			}

			.side-p5{
			     @extend .side-paragraph;

			}
		}
	}

	.wrapper-6{
		background-color: #CA2685;
		.client-con6{

			.client-row6{
				a{
					@extend .bottom-links;
				}
			}
		}
	}

	.wrapper-7{
		background-color: #9d1f63;
		.client-con7{

			.client-row7{
				a{
					@extend .bottom-links;
				}
			}
		}
	}


}

// client content animate
.client-con{
	// opacity: 1;
	// transition: opacity 1s ease-in-out;
	// -moz-transition: opacity 1s ease-in-out;
	// -webkit-transition: opacity 1s ease-in-out;
	.client-fade{
		opacity: 1;
		transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
	}
	.slide-right{
		position: relative;
		right: 0;
		transition: right 1s ease-in-out;
		-moz-transition: right 1s ease-in-out;
		-webkit-transition: right 1s ease-in-out;
	}
	&.fade-away{
		// opacity: 0;
		// transition: opacity 1s ease-in-out;
		// -moz-transition: opacity 1s ease-in-out;
		// -webkit-transition: opacity 1s ease-in-out;
		.client-fade{
			opacity: 0;
			transition: opacity .25s ease-in-out;
		  -moz-transition: opacity .25s ease-in-out;
		  -webkit-transition: opacity .25s ease-in-out;
		}
		.slide-right{
			right: -1000px;
			transition: right 1s ease-in-out;
		  -moz-transition: right 1s ease-in-out;
		  -webkit-transition: right 1s ease-in-out;
			// opacity: 0;
		}
	}
}
