$header-color: #d64197;


.home-feat-wrap{
	background-color: #d64197;
	.client-row{
		text-align: center;
		margin-top: 70px;
		color: #fff;
		h1{
		color: #fff;
		}
	}

	.client-con1{
		background-color: #fbeef5;
		

		.client-cont1{
			

			.number{
				border: 5px solid #d64197;
			    text-align: center;
			    width: auto;
			    color: #d64197;
			}

			.scope{
				
				h2{
					color: #d64197;
					margin-top: 30px;
					margin-bottom: -5px;
					font-weight: bold;
				}
			}
			.side-p{
			    margin-right: 25px;
			    margin-top: 25px;
				left: 40px;
				padding-left: 50px;
				
			}
		}
	}
	.client-con2{
		background-color: #f9e6f1;
		

		.client-cont2{
			

			.number{
				border: 5px solid #d64197;
			    text-align: center;
			    width: auto;
			    color: #d64197;
			}

			.scope{
				
				h2{
					color: #d64197;
					margin-top: 30px;
					margin-bottom: -5px;
					font-weight: bold;
				}
			}
			.side-p{
			    margin-right: 25px;
			    margin-top: 25px;
				left: 40px;
				padding-left: 50px;
				
			}
		}
	}

	.client-con3{
		background-color: #f7ddec;
		

		.client-cont3{
			

			.number{
				border: 5px solid #d64197;
			    text-align: center;
			    width: auto;
			    color: #d64197;
			}

			.scope{
				
				h2{
					color: #d64197;
					margin-top: 30px;
					margin-bottom: -5px;
					font-weight: bold;
				}
			}
			.side-p{
			    margin-right: 25px;
			    margin-top: 25px;
				left: 40px;
				padding-left: 50px;
				
			}
		}
	}

	.client-con4{
		background-color: #f5d4e6;
		

		.client-cont4{
			

			.number{
				border: 5px solid #d64197;
			    text-align: center;
			    width: auto;
			    color: #d64197;
			}

			.scope{
				
				h2{
					color: #d64197;
					margin-top: 30px;
					margin-bottom: -5px;
					font-weight: bold;
				}
			}
			.side-p{
			    margin-right: 25px;
			    margin-top: 25px;
				left: 40px;
				padding-left: 50px;
			}
		}
	}

	.client-con5{
		background-color: #f3cbe1;

		.client-cont5{

			.number{
				border: 5px solid #d64197;
			    text-align: center;
			    width: auto;
			    color: #d64197;
			}

			.scope{
				
				h2{
					color: #d64197;
					margin-top: 30px;
					margin-bottom: -5px;
					font-weight: bold;
				}
			}
			.side-p{
			    margin-right: 25px;
			    margin-top: 25px;
				left: 40px;
				padding-left: 50px;
				
			}
		}
	}

	.client-con6{

		.client-row6{
			a{
				float: right;
				right: 13px;
				margin-top: 25px;
			}
		}
	}
	.wrapper-7{
		background-color: #b3357d;
		.client-con7{
			
			.client-row7{
				a{
					float: right;
					right: 13px;
					margin-top: 25px;
				}
			}
		}
	}
	

}
/*.client-con2{
		background-color: #f9e6f1;
		margin-bottom: 30px;
	}*/